<template>
  <v-layout row wrap justify-space-around pt-5>
    <v-flex xs10>
      <v-layout col justify-space-around pb-5>
        <v-flex xs3>
          <v-card>
            <v-layout row class="justify-center" pt-5 pb-5>
              <v-flex xs8>
                <v-card-text>Consulte almuerzos restantes</v-card-text>
                <v-text-field label="Rut" solo></v-text-field>
                <v-btn class="succes">Consulta</v-btn>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex xs3>
          <v-card>
            <v-layout row class="justify-center" pt-5 pb-5>
              <v-flex xs8>
                <v-card-text>Cargar almuerzos</v-card-text>
                <v-text-field label="Rut" solo></v-text-field>
                <v-text-field label="Cantidad" solo></v-text-field>
                <v-btn class="succes">Cargar</v-btn>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex xs3>
          <v-card>
            <v-layout row class="justify-center" pt-5 pb-5>
              <v-flex xs8>
                <v-card-text>Registrar nuevo alumno</v-card-text>
                <v-text-field label="Rut" :value="rut" @input="setRut" solo></v-text-field>
                <v-text-field label="Email" :value="email" @input="setEmail" solo></v-text-field>
                <v-btn class="succes" @click="registrar">Registrar</v-btn>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
      <v-alert type="success" :value="estado">
                  {{ estado }}
              </v-alert>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState('alumnos', [
      'rut',
      'email',
      'estado',
    ]),
  },
  methods: {
    ...mapMutations('alumnos', [
      'setRut',
      'setEmail',
    ]),
    ...mapActions('alumnos', [
      'registrar',
    ]),
  },
};
</script>
