<template>
  <v-row class="mt-10 pt-10" justify="center">
    <v-flex xs4 offset-xs="4">
      <v-card class="pt-6 pb-6" justify-center>
        <v-card-title class="justify-center">Login</v-card-title>
        <v-layout col>
          <v-flex class="justify-center">
            <v-layout row class="justify-center">
              <v-flex xs8>
                <v-text-field label="Email" solo></v-text-field>
                <v-text-field label="Contraseña" solo></v-text-field>
                <v-btn class="succes">Ingresa</v-btn>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-row>
</template>

<script>
export default {
}
</script>
