<template>
  <v-toolbar color="blue darken-4" dark>
    <v-toolbar-title>Sistema de Gestion de Tickets USM</v-toolbar-title>

    <v-spacer></v-spacer>
  </v-toolbar>
</template>

<script>
export default {
}
</script>
