<template>
  <v-app>
    <div id="app">
      <Toolbar />
      <AdminFunc />
      <!--<div id="nav">
        <router-link to="/">Home</router-link>|
        <router-link to="/about">About</router-link>
      </div>-->
      <!-- <router-view />
      <v-layout col justify-space-around>
        <v-flex xs3>
          <v-card>
            <v-layout row class="justify-center" pt-5 pb-5>
              <v-flex xs8>
                <v-card-text>Cobrar almuerzo</v-card-text>
                <v-text-field label="Rut" solo></v-text-field>
                <v-btn class="succes">Cobrar</v-btn>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
      -->
    </div>
  </v-app>
</template>

<script>
import Toolbar from '@/components/Toolbar.vue';
import AdminFunc from '@/components/AdminFunctions.vue';

export default {
  components: {
    Toolbar,
    AdminFunc,
  },
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
